.toggle_square {
	width: 100px ;
	height: 100px;
	background-color: black;
	text-align: center;
	position: relative;
	vertical-align: middle;
	margin-top: 20px;

}
.toggle_square p {
	vertical-align: middle;
	margin: 0;
	color: white;
	text-transform: uppercase;
	padding-top: 30px;

}
section {
	margin: 20px 0;
	background-color: #f1f0f4;
	padding: 20px 20px;
	height: 200px;
}
